@import './base.css';

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the top */
  margin: 0; 
}

#app {
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the top within #app */
  align-items: center;
  gap: 5vh;
}

